<!DOCTYPE html>
<html>

<head>
<% include ../includes/header.ejs %>
<title><%= title %></title>
<link href="/stylesheets/pa08.css" rel="stylesheet" type="text/css" />

</head>

<body>
<% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <p>JSON, Pagination and MVC</p>
  </div>
</div>
<div class="container">
  <form action="/pa08" method="POST" class="form-inline">
    <input type="text" name="searchValue" placeholder="Search by Title" class="form-control" style="width:300px">
    <button type="submit" class="btn btn-primary">Search</button>
    <% if (searchedValue.length > 0) { %>
    <a type="button" href="/pa08" class="btn btn-default">Clear Search Results</a>
    <h3>Showing search results for: <%= searchedValue %></h3>
    <% } %>
  </form>
  <h1>JSON Data</h1>
  <!-- Pagination button generation -->
<form class="actions container">
  <a href="?page=1<%= (searchedValue) ? `&searchValue=${searchedValue}` :  "" %>" class="btn <%= (page==i) ? 'btn-primary' : 'btn-default' %>">First</a> -
  <% var p = numPages %>
    <a href="?page=<%= p %><%= (searchedValue) ? `&searchValue=${searchedValue}` :  "" %>" class="btn <%= (page==i) ? 'btn-primary' : 'btn-default' %>">Last</a>
  <br>
  <a href="?page=<%= (page > 1) ? (page - 1) : (page = 1) %><%= (searchedValue) ? `&searchValue=${searchedValue}` :  "" %>" class="btn <%= (page==i) ? 'btn-primary' : 'btn-default' %>">Prev</a> -
  <a href="?page=<%= (page < numPages) ? (page - -1) : (page = numPages) %><%= (searchedValue) ? `&searchValue=${searchedValue}` :  "" %>" class="btn <%= (page==i) ? 'btn-primary' : 'btn-default' %>">Next</a> <!-- had to use a double negative on (page - -1) instead of + because + was concatenating the page number with 1-->
  <% for(var i = 1; i <= numPages; i++) { %>
  <a href="?page=<%= i %><%= (searchedValue) ? `&searchValue=${searchedValue}` :  "" %>" class="btn <%= (page==i) ? 'btn-primary' : 'btn-default' %>"><%= i %></a>
  <% } %>
  </form>

    <% include ../includes/card.ejs %>



</div>

<!-- Pagination button generation -->
<form class="actions container">
  <a href="?page=1" class="btn <%= (page==i) ? 'btn-primary' : 'btn-default' %>">First</a> -
  <% var p = numPages %>
    <a href="?page=<%= p %>" class="btn <%= (page==i) ? 'btn-primary' : 'btn-default' %>">Last</a>
  <br>
  <a href="?page=<%= (page > 1) ? (page - 1) : (page = 1) %>" class="btn <%= (page==i) ? 'btn-primary' : 'btn-default' %>">Prev</a> -
  <a href="?page=<%= (page < numPages) ? (page - -1) : (page = numPages) %>" class="btn <%= (page==i) ? 'btn-primary' : 'btn-default' %>">Next</a> <!-- had to use a double negative on (page - -1) instead of + because + was concatenating the page number with 1-->
  <% for(var i = 1; i <= numPages; i++) { %>
  <a href="?page=<%= i %><%= (searchedValue) ? `&searchValue=${searchedValue}` :  "" %>" class="btn <%= (page==i) ? 'btn-primary' : 'btn-default' %>"><%= i %></a>
  <% } %>
  </form>
</div>
</body>
</html>

